.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.development {
    background-color: red;
}

.production {
    background-color: darkblue;
}

.test {
    background-color: yellowgreen;
}