.menuLink {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

.menuLink:hover {
    background-color: #ccc;
    color: #9d1f8a;
    transition: background-color 0.3s ease, color 0.3s ease;
}
