.menuList {
    background-color: #1a405a;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuList > li {
    position: relative;
    /* Adjust spacing or padding as needed */
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a405a;
    padding: 0;
}

.submenu ul { /* Target the <ul> within the submenu */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    padding: 0;
}

.menuList > li:hover > .submenu  {
    display: block;
}

/* You'll likely want to style your list items and links as well */
.menuList > li > a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
}

/* Add hover styles as needed */
