.menuList {
    background-color: #1a405a;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menuList > li {
    position: relative;
}

.menuList > li > ul { /* Target only direct children */
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1a405a;
    padding: 0;
}

.menuList > li:hover > ul {
    display: block;
}

.submenu {
    position: absolute; /* Adjust positioning as needed */
    top:  0;/* Adjust top position */
    left: 0;/* Adjust left position */
    background-color: #1a405a;
}